/*-------- LOGIN --------*/

.login{
    position: relative;
    height: 100vh;
    background-image: url('../Images/Hero-bannner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

.logo{
    position: fixed;
    top: 10px;
    left: 20px;
    width: 150px;
    cursor: pointer;
}
.btn{
   display: flex;
   justify-content: flex-end;
}
.btn button{
    margin-right: 2rem;
    width: max-content;
    color: white;
    position: fixed;
    top: 10px;
    background-color: red;
    padding: 1rem;   
}
.btn button:hover{
    color: #000;
    background-color: #e6e6e6;
}
.info{
    color: white;
    position: relative;
    text-align: center;
    top: 25%;
    font-size: 25px;
}
.input{
display: flex;
justify-content: center;
position: relative;
top: 50%;
}
.input input{
    width: 300px;
    padding-left: 1rem;
    border-radius: 5px;
    border: none;
}
.btn-start{
    width: max-content;
    color: white;
    background-color: red;  
    border-radius: 5px;
}
.btn-start button{
    width: max-content;
    color: white;
    background-color: red;   
}
.btn-start button:hover{
    color: #000;
    background-color: #e6e6e6;
}

/*------- PROFILE -------*/
.profilePage{
   background-color: #000;
   height: 100vh;
   color: white;
}
.profilePage h1{
    position: relative;
    text-align: center;
    top: 5rem;
    font-size: 40px;
}

.avatar{
    width: 120px;
}
.plans{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 7rem;
   
}
.plans button{
    width: max-content;
    color: white;
    background-color: red;  
}
.plans button:hover{
    color: #000;
    background-color: #e6e6e6;
}
.btn2{
    display: flex;
    justify-content: center;
}
.btn2 button{
    color: white;
    width: max-content;
    background-color: red;
    top: 9rem;
}
.btn2 button:hover{
    color: #000;
    background-color: #e6e6e6;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: relative;
    top: 7rem;
}
.column{
    display: flex;
    flex-direction: column;
    gap:2rem
}
.column h3{
    background-color: gray;
    width: 350px;
    border-radius: 5px;
    padding-left: 2rem;

}